 * {
  background-color: #13131b;
 }

 header {
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  font-size: calc(10px + 2vmin);
  min-height: 20vh;
  justify-content: center;
}

.header-button{
  display: inline-block;
  width: 20%;
  padding: 10px 20px;
  margin: 20px;
  background-color: #a6a3be;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

#datalist {
  text-align: right;
  font-size: medium;
  color: aqua;
}

 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #07012e;
  color: #fff;
}

button {
  display: inline-block;
  width:auto;
  padding: 10px 20px;
  margin: 20px;
  background-color: #4227a0;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  /* transition: background-color 0.3s; */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.center {
  text-align: center;
}